.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	grid-area: header;
	border-bottom: var(--blue) 2px solid;
	display: flex;
	justify-content: center;
	align-items: center;
}


.goHome {
	cursor: pointer;
}